<div class="container">
	<div id="about">
		<div class="row">
			<div class="col-md-12">
				<h1>About</h1>
			</div>
			<div class="col-md-6 col-md-offset-3" >
				<p><%= lorem_paragraphs(1) %></p>
			</div>
			
			<div class="col-md-4">
				<img class="center-block" src="images/about/idea.png" width="150" />
				<h3 class="text-center"><%= lorem_words(3) %></h3>
				<p class="text-center"><%= lorem_paragraphs(1) %></p>
			</div>

			<div class="col-md-4">
				<img class="center-block" src="images/about/sysytem.png" width="150" />
				<h3 class="text-center"><%= lorem_words(3) %></h3>
				<p class="text-center"><%= lorem_paragraphs(1) %></p>
			</div>

			<div class="col-md-4">
				<img class="center-block" src="images/about/computer.png" width="150" />
				<h3 class="text-center"><%= lorem_words(3) %></h3>
				<p class="text-center"><%= lorem_paragraphs(1) %></p>
			</div>
			

		</div>
		<hr>
	</div>	
</div>